* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'RF_Dewi';
  src: url('@/fonts/RFDewiExpanded-Black.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'RF_Dewi';
    src: url('@/fonts/RFDewi-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'RF_Dewi';
    src: url('@/fonts/RFDewi-Ultralight.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'RF_Dewi';
    src: url('@/fonts/RFDewi-Regular.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'RF_Dewi';
    src: url('@/fonts/RFDewi-Semibold.ttf');
    font-style: normal;
    font-weight: 400;
}

body {
  font-family: RF_Dewi;
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html{
  height: 100%;
}
main{
  flex: 1 0 auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;